@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Principal</h1>
    <p>Rafael Vinicius Ribeiro RA: 190111 5 ADS.</p>
    <p>Serrana - São Paulo.</p>
</div>
