@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Projeto da Avaliação do 2 Bimestre do 5 Termo de ADS da Faculdade Reges de Ribeirão Preto Sobre Orientação do Professor Daniel.</p>
